<ion-view title="我的沙龙" cache-view="true">
  <!--<ion-nav-buttons side="right">-->
    <!--<button class="button button-icon dark icon ion-ios-search" ng-click="searchPopover.show($event)"></button>-->
  <!--</ion-nav-buttons>-->

  <div class="bar-subheader">
    <div class="row padding bb-grey text-center " style="margin-top: 55px">
      <div class="col font-thin text-large balanced bl-grey" ng-click="goTo(userGroup + '.addCustomerMaintain')">维护新客户</div>
      <div class="col font-thin " ng-click="goTo(userGroup + '.customerMaintains')">客户维护列表</div>
    </div>
  </div>

  <ion-content class="has-header has-subheader bg-lightgrey padding">
    <div class="row">
      <div class="col">
        <p class="text-center"><img src="img/ourPage.png" /></p>
      </div>
    </div>

  </ion-content>
</ion-view>