<ion-popover-view class="small center"> 
  <ion-content> 
    <div class="list"> 
      <div class="item item-text-wrap padding item-icon-left" ng-click="addReservation.hide($event);" ui-sref="createEditReservation({reservation: null, type: 'hairCut'})"><i class="icon ion-scissors"></i>剪发</div>
      <div class="item item-text-wrap padding item-icon-left" ng-click="addReservation.hide($event);" ui-sref="createEditReservation({reservation: null, type: 'perm'})"><i class="icon fa fa-google-wallet"></i>烫染</div>
      <div class="item item-text-wrap padding item-icon-left" ng-click="addReservation.hide($event);" ui-sref="createEditReservation({reservation: null, type: 'hairExtension'})"><i class="icon fa fa-tasks"></i>接发</div>
      <div class="item item-text-wrap padding item-icon-left" ng-click="addReservation.hide($event);" ui-sref="createEditReservation({reservation: null, type: 'hairCare'})"><i class="icon fa fa-heartbeat"></i>护理类</div>
      </div> 
    </ion-content> 
</ion-popover-view>