<ion-view title="潮流前线">
  <ion-nav-buttons side="right">
    <button class="button button-icon dark icon ion-ios-search" ng-click="searchPopover.show($event)"></button>
  </ion-nav-buttons>

  <div class="bar-subheader">
    <div class="row padding bb-grey text-center " style="margin-top: 55px" ng-if="isHairstylist || isReceptionist">
      <div class="col font-thin " ng-click="noBackGoTo(userGroup + '.squareList')">社区广场</div>
      <div class="col font-thin " ng-click="noBackGoTo(userGroup + '.workList')">作品展示</div>
      <div class="col font-thin text-large balanced bl-grey">潮流前线</div>
    </div>
    <div class="row padding bb-grey text-center " style="margin-top: 55px" ng-if="!isHairstylist">
      <div class="col font-thin" ng-click="noBackGoTo('customer.hairstylistList')">发型师</div>
      <div class="col font-thin " ng-click="noBackGoTo('customer.workList')">作品</div>
      <div class="col font-thin" ng-click="noBackGoTo('customer.squareList')">社区</div>
      <div class="col font-thin text-large balanced bl-grey" >潮流</div>
    </div>
  </div>

    <ion-content class="has-header has-subheader bg-lightgrey">
      <div class="row" ng-repeat="item in fashions | filter: searchFilter track by $index" ng-click="showDetail(item)">
        <div class="col s12 m7">
          <div class="card">
            <div class="card-image">
              <img ng-src="{{item.master.coverImg}}">
              <span class="card-title">{{item.master.name}}</span>
            </div>
            <div class="card-content">
              <p>{{item.master.shortDesc}}</p>
              <p class="text-small pull-right" am-time-ago="{{item.master.createAt}}"></p>
            </div>
            <div class="card-action">
              <p>
                <a class="subdued"><i class="icon calm" ng-class="{'ion-ios-heart': _.findWhere(_.values(item.slave3), {likerUid: UID}), 'ion-ios-heart-outline': !_.findWhere(_.values(item.slave3), {likerUid: UID}) }"  attr-click click="like" arg="item" ng-click="$event.stopPropagation()"> {{_.values(item.slave3).length}}</i></a>
                <a class="subdued"><i class="icon ion-ios-chatbubble-outline calm"> {{_.values(item.slave4).length}}</i></a>
              </p>
            </div>
          </div>
        </div>
      </div>



      <ion-infinite-scroll ng-if="!noMoreItemsAvailable"
                           immediate-check="false"
                           on-infinite="loadMore()"
                           distance="1%">
      </ion-infinite-scroll>
    </ion-content>

  <a  ng-if="isHairstylist || isReceptionist" class="btn-floating btn-large waves-effect waves-light blue lighten-1" style="position:fixed; bottom:3%;right:5%;z-index:999" ng-click="addFashion()"><i class="icons ion-plus-round"></i></a>


</ion-view>