<ion-view title="作品详情">

  <ion-content class="has-header" scroll-event-interval="5" padding="false">

    <div class="card post-detail">
      <div class="item item-avatar" ng-click="showUserDetail(userProfile[0])" style="margin-bottom: 10px">
        <img ng-src="{{userProfile[0].avatar}}">
        <h2 class="lead">{{userProfile[0].name}}</h2>
        <p class="text-smaller">{{userProfile[0].mobile}}</p>
      </div>
      <div class="item item-body">
        <ion-slide-box on-slide-changed="slideHasChanged($index)" auto-play="true" does-continue="true" active-slide="activeIndex"
                       ng-init="activeIndex = 0" class="slide-intro">
          <ion-slide ng-repeat="(key, value) in square.master.carouselImgs track by $index">
            <img style="width: 100%; vertical-align: middle;" ng-src="{{value}}" alt="{{work.name}}">
          </ion-slide>
        </ion-slide-box>
        <div class="item item-text-wrap no-b">
          <h2 class="text-large lead text-left">{{square.master.name}}</h2>
          <!--<span class="tags pull-right"  >{{square.master.discount ? square.master.discount * 100 + '% 折扣' : '新品上市'}} </span>-->
          <p class="text-small font-thin">
            {{square.master.description}}
          </p>
        </div>

        <div class="item comments">
          <p>
            <span ng-click="like()"><img ng-src="{{_.values(item.slave1)[0].avatar || _.values(item.slave2)[0].avatar || _.values(item.slave3)[0].avatar}}" class="likers" ng-repeat="item in likes | orderBy: 'updateAt':true | limitTo:5">
              <span class="pull-left interact"> +{{likes.length || 0}} 个喜欢</span>
            </span>
            <span ng-click="openComment(work.workId)" class="pull-right">{{comments.length || 0}} 条评论</span>
          </p>
        </div>
        <div class="item comments no-b">
          <div class="item item-avatar" ng-if="comments.length > 0" ng-repeat="item in comments | orderBy: 'updateAt':true | limitTo: 5" >
            <img ng-src="{{_.values(item.slave1)[0].avatar || _.values(item.slave2)[0].avatar || _.values(item.slave3)[0].avatar}}"/>
            <h2 class="text-small">{{_.values(item.slave1)[0].name || _.values(item.slave2)[0].name || _.values(item.slave3)[0].name}}</h2>
            <p class="text-smaller">{{item.master.content}}</p>
            <p><img width="100px" fullscreen ng-src="{{item.master.imgUrl}}" /></p>
            <p class="text-smaller pull-right" am-time-ago="item.master.createAt"></p>
          </div>
          <p class="font-thin text-center" ng-if="comments.length > 5" ng-click="openComment()">点击查看更多...</p>
          <p class="font-thin text-center" ng-if="comments.length == 0" ng-click="openComment()">暂时还没有人评论哦~ 快去留下第一条评论吧!</p>
        </div>
      </div>
    </div>

  </ion-content>

  <ion-footer-bar class="no-bg bt-grey ">
    <div class="row">
      <div class="col text-left no-padding" ng-click="openComment(true)"><i class="icon text-small" ng-class="_.findWhere(likes, {likerUid: UID}) ? 'ion-ios-heart': 'ion-ios-heart-outline'"> {{_.findWhere(likes, {likerUid: UID}) ? '已喜欢' : '未喜欢'}}</i></div>
      <div class="col text-right no-padding" ng-click="openComment()"><i class="icon ion-ios-chatboxes-outline text-small"> {{comments.length || 0}} 评论</i></div>
    </div>
  </ion-footer-bar>

</ion-view>