<ion-view title="作品展示">
  <ion-nav-buttons side="right">
    <button class="button button-icon dark icon ion-ios-search" ng-click="searchPopover.show($event)"></button>
  </ion-nav-buttons>

  <div class="bar-subheader">
    <div class="row padding bb-grey text-center " style="margin-top: 55px">
      <div class="col font-thin" ng-click="noBackGoTo('hairstylist.squareList')">社区广场</div>
      <div class="col font-thin text-large balanced bl-grey">作品展示</div>
      <div class="col font-thin" ng-click="noBackGoTo('hairstylist.fashionList')">潮流前线</div>
    </div>
  </div>

    <ion-content class="has-header has-subheader bb-grey">
      <div class="card image card-tag" ng-repeat="item in works | filter: searchFilter track by $index">
        <div class="item item-image">
          <img ng-src="{{item.master.coverImg}}" ng-click="showDetail(item)"/>
          <span class="interact">
            <i class="icon ion-ios-heart" ng-class="{'calm light-bg': _.findWhere(_.values(item.slave2), {likerUid: UID}), 'light': !_.findWhere(_.values(item.slave2), {likerUid: UID}) }" ng-click="like(item)"> {{_.values(item.slave2).length}}</i>
            <i class="icon ion-ios-chatbubble light"> {{_.values(item.slave3).length}}</i>
          </span>
          <span class="interact2">
            <i class="icon ion-pricetags light" ng-click="chooseWorkGroup(item.master.type)"><span style="margin-left: 5px;font-size: small">{{_.findWhere(WORK_GROUP, {value: item.master.type}).text}}</span></i>
          </span>

          <div class="item item-avatar" ng-click="showDetail(item)">
            <img ng-src="{{_.values(item.slave1)[0].avatar}}">
            <h2>{{_.values(item.slave1)[0].name}}</h2>
            <p><span style="font-weight: 900;color: #80d8ff">{{item.master.name}}</span></p>
            <p>{{item.master.shortDesc}}</p>
            <!--<p class="text-smaller" am-time-ago="{{item.master.createAt}}"></p>-->
          </div>

        </div>
      </div>

      <!--<div class="list card card-tag" style="margin-top: 10px" ng-repeat="item in works | filter: searchFilter track by $index" ng-click="showDetail(item)">-->
        <!--<div class="item item-body">-->
          <!--<img class="full-image" ng-src="{{item.master.coverImg}}">-->
          <!--<span class="interact">-->
            <!--<i class="icon ion-ios-heart" ng-class="{'calm light-bg': _.findWhere(_.values(item.slave2), {likerUid: UID}), 'light': !_.findWhere(_.values(item.slave2), {likerUid: UID}) }" attr-click click="like" arg="item" ng-click="$event.stopPropagation()"> {{_.values(item.slave2).length}}</i>-->
            <!--<i class="icon ion-ios-chatbubble light"> {{_.values(item.slave3).length}}</i>-->
          <!--</span>-->
          <!--<p class="text-small date" am-time-ago="{{item.master.createAt}}"></p>-->
          <!--<p class="text-smaller group " attr-click click="chooseWorkGroup" arg="item.master.type" ng-click="$event.stopPropagation()" ><a class="light">{{_.findWhere(WORK_GROUP, {value: item.master.type}).text}}</a></p>-->
        <!--</div>-->
        <!--<div class="item item-avatar">-->
          <!--<img ng-src="{{_.values(item.slave1)[0].avatar}}">-->
          <!--<h2 class="balanced">{{_.values(item.slave1)[0].name}}</h2>-->
          <!--<p class="text-small">{{_.values(item.slave1)[0].description}}</p>-->
          <!--<h4>{{item.master.name}}</h4>-->
          <!--<p>{{item.master.shortDesc}}</p>-->
        <!--</div>-->
      <!--</div>-->

      <ion-infinite-scroll ng-if="!noMoreItemsAvailable"
                           immediate-check="false"
                           on-infinite="loadMore()"
                           distance="1%">
      </ion-infinite-scroll>
    </ion-content>

  <ion-floating-menu menu-color="#26a69a">
    <ion-floating-item icon="ion-edit" button-color="#ea4a4f" click="addWork()"></ion-floating-item>
    <ion-floating-item icon="ion-grid" button-color="#2196F3" click="openWorkGroup()"></ion-floating-item>
  </ion-floating-menu>


</ion-view>