<ion-view title="我的沙龙" >

  <ion-nav-buttons side="right">
    <button class="button button-icon dark icon ion-ios-search" ng-click="searchPopover.show($event)"></button>
  </ion-nav-buttons>

  <div class="bar-subheader">
    <div class="row padding bb-grey text-center" style="margin-top: 50px">
      <div class="col font-thin " ng-click="goTo('customer.salonReservation')">预订</div>
      <div class="col font-thin balanced bb" ng-click="goTo('customer.salonContact')">常用联系人</div>
      <div class="col font-thin" ng-click="goTo('customer.salonBusyStatus')">忙闲</div>
    </div>
  </div>

  <ion-content class="has-header has-subheader bg-lightgrey">
      <div class="row" ng-repeat="contact in contacts | filter: searchFilter track by $index" ng-if="$index % 2==0">

        <div class="col">
          <div class="card contact animated bounceIn item-remove-animate" ng-if="contacts[$index] !== undefined">
            <div class="item item-image item-text-wrap" ng-click="showDetail(_.values(contacts[$index].slave)[0])">
              <div><img ng-src="{{_.values(contacts[$index].slave)[0].avatar}}"></div>
              <h2 class="lead text-small mt">{{_.values(contacts[$index].slave)[0].name}}</h2>
              <p class="">{{_.values(contacts[$index].slave)[0].desc || '艺术总监'}}</p>
            </div>
            <div class="item item-footer">
              <div class="row no-padding">
                <div class="col no-padding"><i class="icon ion-ios-chatboxes-outline balanced"></i></div>
                <a href="tel:{{_.values(contacts[$index].slave)[0].mobile}}" class="col no-padding bl-grey"><i class="icon ion-ios-telephone-outline positive"></i></a>
                <div class="col no-padding bl-grey" ng-click="deleteContact(contacts[$index])"><i class="icon ion-ios-trash-outline royal"></i></div>
              </div>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card contact animated bounceIn item-remove-animate" ng-if="contacts[$index + 1] !== undefined">
            <div class="item item-image item-text-wrap" ng-click="showDetail(_.values(contacts[$index + 1].slave)[0])">
              <div><img ng-src="{{_.values(contacts[$index + 1].slave)[0].avatar}}"></div>
              <h2 class="lead text-small mt">{{_.values(contacts[$index + 1].slave)[0].name}}</h2>
              <p class="">{{_.values(contacts[$index + 1].slave)[0].desc || '艺术总监'}}</p>
            </div>
            <div class="item item-footer">
              <div class="row no-padding">
                <div class="col no-padding"><i class="icon ion-ios-chatboxes-outline balanced"></i></div>
                <a href="tel:{{_.values(contacts[$index + 1].slave)[0].mobile}}" class="col no-padding bl-grey"><i class="icon ion-ios-telephone-outline positive"></i></a>
                <div class="col no-padding bl-grey" ng-click="deleteContact(contacts[$index + 1])"><i class="icon ion-ios-trash-outline royal"></i></div>
              </div>
            </div>
          </div>
        </div>
      </div>
  </ion-content>

  <a class="btn-floating btn-large waves-effect waves-light blue lighten-1" style="position:fixed; bottom:3%;right:5%;z-index:999" ng-click="openHairstylist()"><i class="icons ion-person-add"></i></a>

</ion-view>