<ion-view cache-view="false" title="编辑预订">

  <div class="bar-subheader">
    <div class="row text-center padding" style="margin-top: 50px">
      <div class="col font-thin text-large dark" ng-click="goTo('customer.salonReservation')">取消</div>
      <div class="col font-thin text-large balanced bl-grey" ng-click="saveReservation(reservation)">保存</div>
    </div>
  </div>

  <form name="reminderForm">
    <ion-content class="has-header has-subheader">

      <label class="item item-input item-floating-label">
        <span class="input-label">姓名:</span>
        <input type="text" placeholder="请输入您的姓名" ng-model="reservation.customerName" required/>
      </label>

      <label class="item item-input item-floating-label">
        <span class="input-label">手机:</span>
        <input type="tel" placeholder="请输入您的手机号" ng-model="reservation.customerMobile" required/>
      </label>

      <label class="item item-input item-floating-label">
        <span class="input-label">具体要求:</span>
        <textarea rows="3" style="resize:none;" placeholder="请输入您的具体要求" ng-model="reservation.notes"></textarea>
      </label>

      <label class="item item-input" ng-if="reservation.price || reservation.work">
        <span class="input-label">选择的服务:</span>
        <div class="item-text-wrap" ng-if="reservation.price">
          <span class="tags"><span class="calm">{{reservation.price.name}}</span></span>
          <span class="tags"><span class="positive">{{reservation.price.number}}元</span></span>
          <br/>
          <span class="tags">
            <span class="balanced text-small">{{reservation.price.subName}}</span>
          </span>
        </div>
        <div class="item-text-wrap" ng-if="reservation.work">
          <span class="tags"><span class="calm">{{reservation.work.slave.name}}</span></span>
          <span class="tags"><span class="positive">{{reservation.work.slave.price}}元</span></span>
          <br/>
          <span class="tags">
            <span class="balanced text-small">{{reservation.work.slave.shortDesc}}</span>
          </span>
        </div>
      </label>
      <label class="item item-input" ng-if="reservation.hairstylist">
        <span class="input-label">选择的发型师:</span>
        <div class="item-text-wrap">
          <span class="tags ">{{reservation.hairstylist.name}}</span>
          <br/>
          <span class="text-smaller pull-right">
            <div star-rating ng-model="reservation.hairstylist.rating" max="5" readonly="true" on-rating-select="rating.rateFunction(rating)"></div>
          </span>
        </div>
      </label>


      <div class="row text-center date-time-buttons" style="margin-top: 30px">
        <div class="col stable-bg margin" ui-sref="customer.workGroup()"><button class="button button-icon icon ion-ios-keypad-outline"></button>
          <p>优先选发型</p>
        </div>
        <div class="col stable-bg margin" ui-sref="customer.priceList()"><button class="button button-icon icon ion-cash"></button>
          <p>优先选价格</p>
        </div>
      </div>

      <div class="row date-time" >
        <div class="col card" ion-datetime-picker ng-model="reservation.bookedStartAt" required>
          <div class="item">
            <span class="balanced">点击选取预订时间:</span>
            <p class="small">{{reservation.bookedStartAt| date: "yyyy年-MM月-dd日"}}</p>
            <span class="text-large">{{reservation.bookedStartAt| date: "HH点mm分"}}</span>
          </div>
        </div>
      </div>

    </ion-content>
  </form>

</ion-view>