<style>
  .list.list-inline {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-direction: normal;
    -webkit-box-orient: horizontal;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -moz-flex-wrap: nowrap;
    -ms-flex-wrap: none;
    flex-wrap: nowrap;
    width: 100%;
    /* Radio item */
    /* Checkbox */
    /* /!\ not fully working with long-text on */ }
  .list.list-inline .item {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -moz-box-flex: 1;
    -moz-flex: 1;
    -ms-flex: 1;
    flex: 1;
    font-size: inherit; }
  .list.list-inline .item-radio .item-content {
    /* give some room to the right for the checkmark icon */
    padding: 12px;
    padding-right: 16px; }
  .list.list-inline .item-radio .radio-icon {
    /* checkmark icon will be hidden by default */
    padding: 5px; }
  .list.list-inline .item-checkbox {
    padding-left: 44px; }
  .list.list-inline .item-checkbox .checkbox {
    padding-left: 0; }
</style>
<ion-view cache-view="false" title="编辑预订">
  <ion-nav-buttons side="right">
    <button class="button button-icon dark icon ion-close-round" style="font-size: 10px" ng-click="goTo('customer.salonReservation')"></button>
  </ion-nav-buttons>

    <ion-content class="has-header">
      <form novalidate>

      <label class="item item-input item-floating-label">
        <span class="input-label">姓名:</span>
        <input type="text" placeholder="请输入您的姓名" ng-model="reservation.customerName" bsy-form-validate="mustInputErrorTips" required/>
      </label>

      <label class="item item-input item-floating-label">
        <span class="input-label">手机:</span>
        <input type="tel" placeholder="请输入您的手机号" ng-model="reservation.customerMobile" bsy-form-validate="mustInputErrorTips" required/>
      </label>

      <label class="item item-input item-floating-label">
        <span class="input-label">具体要求:</span>
        <textarea rows="3" style="resize:none;" placeholder="请输入您的具体要求" ng-model="reservation.notes"></textarea>
      </label>

      <div ng-if="!editFlag">
        <label class="item item-input" ng-if="reservation.price || reservation.work">
          <span class="input-label">选择的服务:</span>
          <div class="item-text-wrap" ng-if="reservation.price">
            <span class="tags"><span class="calm">{{reservation.price.name}}</span></span>
            <span class="tags"><span class="positive">{{reservation.price.number}}元</span></span>
            <br/>
          <span class="tags">
            <span class="balanced text-small">{{reservation.price.subName}}</span>
          </span>
          </div>
          <div class="item-text-wrap" ng-if="reservation.work">
            <span class="tags"><span class="calm">{{reservation.work.slave.name}}</span></span>
            <span class="tags"><span class="positive">{{reservation.work.slave.price}}元</span></span>
            <br/>
          <span class="tags">
            <span class="balanced text-small">{{reservation.work.slave.shortDesc}}</span>
          </span>
          </div>
        </label>
        <label class="item item-input" ng-if="reservation.hairstylist">
          <span class="input-label">选择的发型师:</span>
          <div class="item-text-wrap">
            <span class="tags ">{{reservation.hairstylist.name}}</span>
            <br/>
          <span class="text-smaller pull-right">
            <div star-rating ng-model="reservation.hairstylist.rating" max="5" readonly="true" on-rating-select="rating.rateFunction(rating)"></div>
          </span>
          </div>
        </label>
      </div>

      <div ng-if="editFlag">
        <label class="item item-input" ng-if="reservation.priceId || reservation.workId">
          <span class="input-label">选择的服务:</span>
          <div class="item-text-wrap" ng-if="reservation.priceId">
            <span class="tags"><span class="calm">{{reservation.priceName}}</span></span>
            <span class="tags"><span class="positive">{{reservation.orderPrice}}元</span></span>
          </div>
          <div class="item-text-wrap" ng-if="reservation.workId">
            <span class="tags"><span class="calm">{{reservation.workName}}</span></span>
            <span class="tags"><span class="positive">{{reservation.orderPrice}}元</span></span>
          </div>
        </label>
        <label class="item item-input" >
          <span class="input-label">选择的发型师:</span>
          <div class="item-text-wrap">
            <span class="tags ">{{reservation.hairstylistName}}</span>
          </div>
        </label>
        <label class="item item-input" >
          <span class="input-label">预订的时间:</span>
          <div class="item-text-wrap">
            <span class="tags ">{{viewDate._d ? (viewDate._d | amDateFormat:'YYYY-MM-DD ' + reservation.bookedStartAt) : (reservation.bookedStartAt | date: 'yyyy-MM-dd HH:mm')}}</span>
          </div>
        </label>
      </div>



      <div ng-if="!editFlag" class="row text-center date-time-buttons" style="margin-top: 30px">
        <div class="col stable-bg margin" ui-sref="customer.workGroup()"><button class="button button-icon icon ion-ios-keypad-outline"></button>
          <p>优先选发型</p>
        </div>
        <div class="col stable-bg margin" ui-sref="customer.priceList()"><button class="button button-icon icon ion-cash"></button>
          <p>优先选价格</p>
        </div>
      </div>

      <!--<div class="row date-time" >-->
        <!--<div class="col card">-->
          <!--&lt;!&ndash;<div class="col card" ng-model="reservation.bookedStartAt" required>&ndash;&gt;-->
          <!--<div class="item">-->
            <!--<span class="balanced">选取预订时间:</span>-->
            <!--<p class="small">{{reservation.bookedStartAt| date: "yyyy年-MM月-dd日"}}</p>-->
            <!--<span class="text-large">{{reservation.bookedStartAt| date: "HH点mm分"}}</span>-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->
      <div ng-if="editFlag || reservation.hairstylist" ng-style="editFlag == true ? { 'margin-top':'30px' } : {}">
        <p class="bb text-smaller padding-horizontal uppercase">{{editFlag ? '修改预订时间:' : '选取预订时间:'}}</p>
        <div class="item item-divider padding no-bg no-b bb-grey" >
          <div class="row no-padding">
            <div class="col text-grey" ng-click="decrementDate(dateFilter)"><i class="icon ion-ios-arrow-back"></i></div>
            <div class="col text-grey text-center text-small">{{viewDate| amCalendar:referenceTime:formats}}
            </div>
            <div class="col text-grey text-right" ng-click="incrementDate(dateFilter)"><i class="icon ion-ios-arrow-forward"></i></div>
          </div>
        </div>


        <div class="list list-inline text-center" ng-repeat="timeList in reservationTimeList">
          <ion-radio ng-repeat="item in timeList" name="reservationTime"
                     ng-value="item.text" ng-disabled="!item.valid || item.booked"
                     ng-model="reservation.bookedStartAt" class="no-padding">

            <div class="chip no-padding" style="width: 90px" ng-if="item.booked">
              <img ng-src="{{item.order.customerAvatar}}" alt="客户">
              <span style="font-size: 10px!important;margin-left: -11px!important;">{{item.order.bookedStartAt | date: 'HH:mm'}}-{{item.order.expectEndAt | date: 'HH:mm'}}</span>
            </div>
            <span ng-if="!item.booked && item.valid">{{ item.text }}</span>
            <del ng-if="!item.valid" style="color: red">{{ item.text }}</del>
          </ion-radio>
        </div>

      </div>

      <button class="button button-block button-balanced" check-form ng-click="validate() && saveReservation(reservation)">确认提交</button>
      </form>
    </ion-content>

</ion-view>