<ion-view title="我的沙龙">
  <ion-nav-buttons side="right">
    <button class="button button-icon dark icon ion-ios-search" ng-click="searchPopover.show($event)"></button>
  </ion-nav-buttons>

  <div class="my-2sub-header">
      <div class="row padding bb-grey text-center" style="margin-top: 40px">
        <div class="col font-thin balanced bb" ng-click="goTo('customer.salonReservation')">预订</div>
        <div class="col font-thin" ng-click="goTo('customer.salonContact')">常用联系人</div>
        <div class="col font-thin" ng-click="goTo('customer.salonBusyStatus')">忙闲</div>
      </div>

    <div class="item item-divider padding no-bg no-b bb-grey" style="margin-top: -10px">
      <div class="row no-padding">
        <div class="col text-grey" ng-click="decrementDate(dateFilter)"><i class="icon ion-ios-arrow-back"></i></div>
        <div class="col text-grey text-center text-small">{{viewDate| amCalendar:referenceTime:formats}}
        </div>
        <div class="col text-grey text-right" ng-click="incrementDate(dateFilter)"><i class="icon ion-ios-arrow-forward"></i></div>
      </div>
    </div>
  </div>

    <ion-content class="has-2sub-header">
      <div class="card no-margin no-br" ng-if="seletedReservations.length == 0">
        <div class="item item-text-wrap item-icon-left teal lighten-1">
          <i class="icon ion-ionic light"></i>
          <span class="light">{{outOfDate == true ? '过期日不能添加预订' : '点击红色'+'添加一个预订吧!'}}</span>
        </div>
      </div>
      <div class="card no-margin bb-grey no-br no-box" ng-if="reservations.length > 0" ng-repeat="reservation in seletedReservations | filter: searchFilter | orderBy: 'updateAtR':true track by $index">
        <div class="item item-text-wrap item-icon-left teal lighten-1" on-hold="showDetail(reservation.slave)"
             ng-if="reservation.slave.type == 'booked'">
            <i class="icon light ion-ios-clock"></i>
            <span class="light text-medium">{{reservation.slave.workName || reservation.slave.priceName}}</span><br/>
            <span class="light text-smaller">发型师:{{reservation.slave.hairstylistName}}</span>
            <span class="light text-smaller">价格:{{reservation.slave.orderPrice}}</span><br/>
            <span class="light text-smaller justified">具体要求:{{reservation.slave.notes}}<br/></span>
            <span class="text-smaller light">预订时间: {{reservation.slave.bookedStartAt | date: 'yyyy年MM月dd日HH点mm分'}}</span><br/>
            <span class="text-smaller light" ng-if="now < reservation.slave.bookedStartAt"><span >倒计时:</span><span countdown='' date="{{reservation.slave.bookedStartAt | date: 'yyyy-MM-ddTHH:mm:ss.sss'}}">&nbsp;</span></span>
            <span class="text-smaller light" ng-if="now > reservation.slave.bookedStartAt"><span >已过期:<span  am-time-ago="reservation.slave.bookedStartAt"></span></span></span>
            <span class="light text-smaller justified pull-right">长按查看详情 </span>
        </div>

        <div class="item item-text-wrap item-icon-left indigo lighten-1" ng-click="open[$index] = !open[$index]" on-hold="onCardHold($index, reservation);"
             ng-if="reservation.orderGroup == 'underDoing'">
          <i class="icon light ion-ios-calendar-outline"></i>
          <span class="light text-medium">{{reservation.title}}</span><br/>
          <span class="light text-small justified" ng-if="open[$index] && reservation.notes">{{reservation.notes}}<br/></span>
          <span class="light text-small" ng-if="open[$index] && reservation.location"><i class="icon ion-ios-location"></i> {{reservation.location}}<br/></span>
          <span class="text-smaller light">Start's at {{reservation.startsAt | date: 'HH:mm a'}}</span>
          <span class="light text-smaller pull-right" ng-if="open[$index] && !reservation.allDay">End's at {{reservation.endsAt | date: 'HH:mm a'}}</span>
          <span class="light text-smaller pull-right" ng-if="open[$index] && reservation.allDay">on going for entire day</span>
        </div>

        <a href="tel:{{reservation.phone}}" class="item item-text-wrap item-icon-left blue lighten-1" ng-if="reservation.orderGroup == 'completed'"
           on-hold="goTo('customer.reminder')">
          <i class="icon light ion-ios-checkmark-outline"></i>
          <span class="light text-medium">{{reservation.title}}</span><br/>
          <!--<span class="light text-small">{{reservation.phone}}<br/></span>-->
          <span class="text-smaller light">Start's at {{reservation.startsAt | date: 'HH:mm a'}}</span>
        </a>

        <a class="item item-text-wrap item-icon-left light red lighten-1" ng-if="reservation.orderGroup == 'canceled'"
           on-hold="goTo('customer.reminder')">
          <i class="icon light ion-ios-at-outline"></i>
          <span class="light text-medium">{{reservation.title}}</span><br/>
          <!--<span class="light text-small">{{reservation.email}}<br/></span>-->
          <span class="text-smaller light">Start's at {{reservation.startsAt | date: 'HH:mm a'}}</span>
        </a>
      </div>

  </ion-content>

  <a ng-if='!outOfDate' class="btn-floating btn-large waves-effect waves-light red" style="position:absolute;bottom:5%; right:42%;"  ui-sref="customer.createEditReservation({reservation: null})"><i class="icon ion-plus"></i></a>

</ion-view>