<ion-view title="我的沙龙" >
  <ion-nav-buttons side="right">
    <button class="button button-icon dark icon ion-ios-search" ng-click="searchPopover.show($event)"></button>
  </ion-nav-buttons>

  <ion-content class="has-header" scroll="false">

    <ion-scroll direction="x" style="width:auto">
      <div class="row no-padding bb-grey text-center" style="width:500px">
        <div class="col font-thin  text-large balanced bb" ng-click="goTo('customer.salonReservation')">我的预订情况</div>
        <div class="col font-thin" ng-click="goTo('customer.salonContact')">常用联系人</div>
        <div class="col font-thin" ng-click="goTo('customer.salonBusyStatus')">发型师忙闲情况</div>
      </div>
    </ion-scroll>


    <div class="item item-divider padding no-bg no-b bb-grey">
      <div class="row no-padding">
        <div class="col text-grey" ng-click="decrementDate(dateFilter)"><i class="icon ion-ios-arrow-back"></i></div>
        <div class="col text-grey text-center text-small">{{viewDate| amCalendar:referenceTime:formats}}
        </div>
        <div class="col text-grey text-right" ng-click="incrementDate(dateFilter)"><i class="icon ion-ios-arrow-forward"></i></div>
      </div>
    </div>

    <div class="card no-margin no-br" ng-if="reservations.length == 0">
      <div class="item item-text-wrap item-icon-left teal lighten-1">
        <i class="icon ion-ionic light"></i>
        <span class="light">No incomplete reminders</span>
      </div>
    </div>

    <ion-scroll class="bg-lightgrey" direction="y" style="height:100%">

      <div class="card no-margin bb-grey no-br no-box" ng-if="reservations.length > 0" ng-repeat="reservation in reservations | filter: searchFilter | orderBy: 'startsAt':true track by $index">
        <div class="item item-text-wrap item-icon-left teal lighten-1" ng-click="open[$index] = !open[$index]" on-hold="onCardHold($index, reservation);"
             ng-if="reservation.status == 'booked'">
          <i class="icon light ion-ios-checkmark-outline"></i>
          <span class="light text-medium">{{reservation.title}}</span><br/>
          <span class="light text-smaller justified" ng-if="open[$index] && reservation.notes">{{reservation.notes}}<br/></span>
          <span class="text-smaller light">Start's at {{reservation.startsAt | date: 'HH:mm a'}}</span>
          <span class="light text-smaller pull-right" ng-if="open[$index] && !reservation.allDay">End's at {{reservation.endsAt | date: 'HH:mm a'}}</span>
          <span class="light text-smaller pull-right" ng-if="open[$index] && reservation.allDay">on going for entire day</span>
        </div>

        <div class="item item-text-wrap item-icon-left indigo lighten-1" ng-click="open[$index] = !open[$index]" on-hold="onCardHold($index, reservation);"
             ng-if="reservation.status == 'underDoing'">
          <i class="icon light ion-ios-calendar-outline"></i>
          <span class="light text-medium">{{reservation.title}}</span><br/>
          <span class="light text-small justified" ng-if="open[$index] && reservation.notes">{{reservation.notes}}<br/></span>
          <span class="light text-small" ng-if="open[$index] && reservation.location"><i class="icon ion-ios-location"></i> {{reservation.location}}<br/></span>
          <span class="text-smaller light">Start's at {{reservation.startsAt | date: 'HH:mm a'}}</span>
          <span class="light text-smaller pull-right" ng-if="open[$index] && !reservation.allDay">End's at {{reservation.endsAt | date: 'HH:mm a'}}</span>
          <span class="light text-smaller pull-right" ng-if="open[$index] && reservation.allDay">on going for entire day</span>
        </div>

        <a href="tel:{{reservation.phone}}" class="item item-text-wrap item-icon-left blue lighten-1" ng-if="reservation.status == 'completed'"
           on-hold="goTo('customer.reminder')">
          <i class="icon light ion-ios-telephone-outline"></i>
          <span class="light text-medium">{{reservation.title}}</span><br/>
          <!--<span class="light text-small">{{reservation.phone}}<br/></span>-->
          <span class="text-smaller light">Start's at {{reservation.startsAt | date: 'HH:mm a'}}</span>
        </a>

        <a class="item item-text-wrap item-icon-left light red lighten-1" ng-if="reservation.status == 'canceled'"
           on-hold="goTo('customer.reminder')">
          <i class="icon light ion-ios-at-outline"></i>
          <span class="light text-medium">{{reservation.title}}</span><br/>
          <!--<span class="light text-small">{{reservation.email}}<br/></span>-->
          <span class="text-smaller light">Start's at {{reservation.startsAt | date: 'HH:mm a'}}</span>
        </a>
      </div>

    </ion-scroll>
  </ion-content>

  <a class="btn-floating btn-large waves-effect waves-light red" style="position:absolute; bottom:5%; right:42%;" ng-click="addReservation.show($event);"><i class="icon ion-plus"></i></a>

</ion-view>