<ion-view title="服务产品" >

  <ion-nav-buttons side="right">
    <button class="button button-icon dark icon ion-ios-search" ng-click="searchPopover.show($event)"></button>
  </ion-nav-buttons>

  <ion-content class="has-header  bg-lightgrey">
    <ion-scroll direction="x" style="width:auto" >
      <div class="row no-padding bb-grey text-center" style="width:500px">
        <div class="col font-thin  text-large balanced bb" ng-click="">剪发</div>
        <div class="col font-thin" ng-click="">烫染</div>
        <div class="col font-thin" ng-click="">接发</div>
        <div class="col font-thin" ng-click="">护理类</div>
      </div>
    </ion-scroll>

    <div class="row" ng-repeat="item in products | filter: searchFilter track by $index" ng-if="$index % 2 == 0">
      <div class="col">
        <div class="card tile" ng-if="products[$index]">
          <div class="item item-image">
            <img ng-src="{{products[$index].coverImg}}" alt="{{products[$index].name}}" ng-click="openProductPreview(products[$index])">
          </div>
          <div class="item item-text-wrap padding">

            <h2 class="text-small lead">{{products[$index].name + products[$index].$id}}</h2>

            <span class="pull-left text-small">${{products[$index].price | number: 2}}</span>
            <span class="pull-right text-medium">
              <i class="icon mr" ng-class="{'calm ion-ios-heart': favourite[$index], 'ion-ios-heart-outline': !favourite[$index]}" ng-click="favourite[$index] = !favourite[$index]"></i>
              <i class="icon ion-ios-cart-outline" ng-click="selectProductDetails(products[$index + 1])"></i>
            </span>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card tile" ng-if="products[$index + 1]">
          <div class="item item-image">
            <img ng-src="{{products[$index + 1].coverImg}}" alt="{{products[$index + 1].name}}" ng-click="openProductPreview(products[$index + 1])">
          </div>
          <div class="item item-text-wrap padding">

            <h2 class="text-small lead text-left">{{products[$index].name + products[$index + 1].$id}}</h2>

            <span class="pull-left text-small">${{products[$index + 1].price | number: 2}}</span>
            <span class="pull-right text-medium">
              <i class="icon mr" ng-class="{'calm ion-ios-heart': favourite[$index + 1], 'ion-ios-heart-outline': !favourite[$index + 1]}" ng-click="favourite[$index + 1] = !favourite[$index + 1]"></i>
              <i class="icon ion-ios-cart-outline" ng-click="selectProductDetails(products[$index + 1])"></i>
            </span>
          </div>
        </div>
      </div>
    </div>

  </ion-content>
</ion-view>