<ion-modal-view >

  <ion-nav-button side="left">
    <button class="button button-icon icon ion-android-close" ng-click="vm.cancel();"></button>
  </ion-nav-button>

  <ion-content class="has-header bt-grey profile" ion-sticky>
    <div class="header"> <!-- style="background-image: url('../../../../img/hairstylist-bg1.jpg')"> -->
      <img ng-src="{{vm.hairstylist.avatar}}">
      <span class="badge badge-royal" ng-if="vm.hairstylist.likes.length > 0">{{vm.hairstylist.likes.length + '个赞'}}</span>
      <h2 class="lead text-medium">{{vm.hairstylist.name}}</h2>
      <p >{{'创意总监'}}</p>
      <button class="button button-small icon "  ng-class="{'button-positive button-outline ion-android-checkmark-circle': !follow, 'button-balanced ion-ios-undo-outline':follow }"
              ng-click="vm.confirm(vm.hairstylist)">
        <span class="positive"> 预订该发型师</span>
      </button>
    </div>

    <div class="row item-divider no-padding text-center " style="text-transform: capitalize;background-color: inherit!important;"  >
      <div class="col font-thin" ng-class="{'text-medium balanced bb' : vm.type === 1}" ng-click="vm.type = 1">{{vm.works.length}}<br/>作品</div>
      <div class="col font-thin" ng-class="{'text-medium balanced bb' : vm.type === 2}" ng-click="vm.type = 2">200<br/>评价</div>
      <div class="col font-thin" ng-class="{'text-medium balanced bb' : vm.type === 3}" ng-click="vm.type = 3">300<br/>预约人</div>
    </div>

    <div ng-if="vm.type === 1">
      <div class="row post" ng-repeat="work in vm.works" ng-if="$index % 3 == 0">
        <div class="col"><img ng-src="{{vm.works[$index].slave.coverImg}}" /></div>
        <div class="col"><img ng-src="{{vm.works[$index + 1].slave.coverImg}}" /></div>
        <div class="col"><img ng-src="{{vm.works[$index + 2].slave.coverImg}}" /></div>
      </div>
    </div>

    <div ng-if="vm.type === 2">
      <div class="item item-avatar item-button-right followers" ng-repeat="contact in contacts  | filter: searchFilter">
        <img ng-src="{{contact.photo}}">
        <h2 class="font-thin">{{contact.name}}</h2>
        <p>{{contact.city}}</p>
        <button class="button button-small button-balanced icon ion-ios-checkmark-empty" ng-if="$index % 3 == 1"> Following</button>
        <button class="button button-small button-balanced button-outline icon ion-ios-personadd-outline" ng-if="$index % 3 !== 1"> Follow</button>
      </div>
    </div>

    <div ng-if="vm.type === 3">
      <div class="item item-avatar item-button-right followers" ng-repeat="contact in contacts  | filter: searchFilter" ng-if="$index % 3 === 1">
        <img ng-src="{{contact.photo}}">
        <h2 class="font-thin">{{contact.name}}</h2>
        <p>{{contact.city}}</p>
        <button class="button button-small button-balanced icon ion-ios-checkmark-empty" ng-if="$index % 3 === 1"> Unfollow</button>
      </div>
    </div>


  </ion-content>
</ion-modal-view>
