<ion-modal-view>
  <ion-nav-button side="left">
    <button class="button button-icon icon ion-android-close" style="padding-top: 20px" ng-click="vm.cancel();"></button>
    <button class="button button-icon dark icon ion-ios-search pull-right" style="padding-top: 20px" ng-click="searchPopover.show($event)"></button>
  </ion-nav-button>

  <ion-content class="has-header bg-lightgrey">

    <div class="card hybrid shop" ng-repeat="item in vm.hairstylists | filter: searchFilter track by $index">
      <div class="item item-thumbnail-left item-text-wrap shop">
        <img ng-src="{{_.values(item.slave1)[0].avatar}}" ng-click="vm.showDetail(_.values(item.slave1)[0])" >
        <h2 class="text-small lead no-padding no-margin" ng-click="vm.showDetail(_.values(item.slave1)[0])" >{{_.values(item.slave1)[0].name}}</h2>
        <p class="text-small" ng-click="vm.showDetail(_.values(item.slave1)[0])" >擅长中长发,各种烫染</p>
        <span class="text-smaller pull-left " ng-click="vm.showDetail(_.values(item.slave1)[0])" >
          <span star-rating ng-model="rating" max="5" readonly="true" on-rating-select="rating.rateFunction(rating)"></span>
        </span>
        <br/>
        <br/>
        <span class="interact text-larger pull-left">
          <i class="icon mr" ng-class="{'calm ion-ios-heart': _.findWhere(_.values(item.slave2), {likerUid: UID}), 'ion-ios-heart-outline': !_.findWhere(_.values(item.slave2), {likerUid: UID})}" ng-click="like(item)"><span style="font-size: 10px">{{_.values(item.slave2).length}}</span></i>
        </span>
        <span class="text-smaller font-thin pull-right" style="margin-top: 10px">
          <button class="waves-effect waves-light btn button-small red" ng-if="!_.findWhere(_.values(item.slave3), {customerUid: UID})"  style="border-radius: 50px" ng-click="vm.confirm(_.values(item.slave1)[0])">&nbsp&nbspOK&nbsp&nbsp</button>
          <button class="waves-effect waves-light btn button-small grey" ng-if="_.findWhere(_.values(item.slave3), {customerUid: UID})"  style="border-radius: 50px" >已添加</button>
        </span>
      </div>

    </div>

    <ion-infinite-scroll ng-if="!noMoreItemsAvailable"
                         immediate-check="false"
                         on-infinite="loadMore()"
                         distance="1%">
    </ion-infinite-scroll>
  </ion-content>

</ion-modal-view>