<ion-view title="发型师" >
  <ion-nav-buttons side="right">
    <button class="button button-icon dark icon ion-ios-search" ng-click="searchPopover.show($event)"></button>
  </ion-nav-buttons>

  <div class="bar-subheader" ng-if="!isReceptionist">
    <div class="row padding bb-grey text-center " style="margin-top: 55px" >
      <div class="col font-thin text-large balanced bl-grey" >发型师</div>
      <div class="col font-thin" ng-click="noBackGoTo('customer.workList')">作品</div>
      <div class="col font-thin" ng-click="noBackGoTo('customer.squareList')">社区</div>
      <div class="col font-thin" ng-click="noBackGoTo('customer.fashionList')">潮流</div>
    </div>
  </div>

  <ion-content ng-class="isReceptionist ? ['has-header', 'bg-lightgrey'] : ['has-header', 'bg-lightgrey', 'has-subheader']">
    <!--<ion-refresher-->
      <!--pulling-text="下拉更新..."-->
      <!--on-refresh="doRefresh()">-->
    <!--</ion-refresher>-->

    <div class="card hybrid shop" ng-repeat="item in hairstylists | filter: searchFilter track by $index">
      <div class="item item-thumbnail-left item-text-wrap shop">
        <img ng-src="{{_.values(item.slave1)[0].avatar}}" ng-click="showDetail(_.values(item.slave1)[0])">
        <h2 class="text-small lead no-padding no-margin" ng-click="showDetail(_.values(item.slave1)[0])">{{_.values(item.slave1)[0].name}}</h2>
        <p class="text-small" ng-click="showDetail(_.values(item.slave1)[0])">擅长中长发,各种烫染</p>
        <span class="text-smaller pull-left " ng-click="showDetail(_.values(item.slave1)[0])">
          <span star-rating ng-model="rating" max="5" readonly="true" on-rating-select="rating.rateFunction(rating)"></span>
        </span>
        <br/>
        <br/>
        <span class="interact text-larger pull-left">
          <i class="icon mr" ng-class="{'calm ion-ios-heart': _.findWhere(_.values(item.slave2), {likerUid: UID}), 'ion-ios-heart-outline': !_.findWhere(_.values(item.slave2), {likerUid: UID})}" ng-click="like(item)"><span style="font-size: 10px">{{_.values(item.slave2).length}}</span></i>
        </span>
        <span class="text-smaller font-thin pull-right" style="margin-top: 10px">
          <button class="waves-effect waves-light btn button-small red" style="border-radius: 50px" ng-click="chooseHairstylist(_.values(item.slave1)[0])">&nbsp&nbspOK&nbsp&nbsp</button>
        </span>
      </div>

    </div>

    <ion-infinite-scroll ng-if="!noMoreItemsAvailable"
                         immediate-check="false"
                         on-infinite="loadMore()"
                         distance="1%">
    </ion-infinite-scroll>


  </ion-content>

</ion-view>