<ion-view title="作品">
  <div class="my-workList-header">
    <ion-nav-buttons side="right">
      <button class="button button-icon dark icon ion-ios-search" ng-click="searchPopover.show($event)"></button>
      <button class="button button-icon dark icon ion-ios-search pull-right" ng-click="searchPopover.show($event)"></button>
    </ion-nav-buttons>

    <div class="row padding bb-grey text-center" style="margin-top: 40px">
      <div class="col font-thin" ng-click="noBackGoTo('customer.hairstylistList')">发型师</div>
      <div class="col font-thin text-large balanced bl-grey">作品</div>
    </div>
  </div>

    <ion-content class="has-workList-header bg-lightgrey">
      <div class="row" ng-repeat="item in works | filter: searchFilter track by $index" ng-if="$index % 2 == 0">
        <div class="col">
          <div class="card tile" ng-if="works[$index]">
            <div class="item item-image">
              <img ng-src="{{works[$index].coverImg}}" alt="{{works[$index].name}}" ng-click="showDetail(works[$index])">
            </div>
            <div class="item item-text-wrap padding">

              <h2 class="text-small lead">{{works[$index].name + works[$index].$id}}</h2>

              <span class="pull-left text-small">${{works[$index].price | number: 2}}</span>
            <span class="pull-right text-medium">
              <i class="icon mr" ng-class="{'calm ion-ios-heart': favourite[$index], 'ion-ios-heart-outline': !favourite[$index]}" ng-click="favourite[$index] = !favourite[$index]"></i>
            </span>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card tile" ng-if="works[$index + 1]">
            <div class="item item-image">
              <img ng-src="{{works[$index + 1].coverImg}}" alt="{{works[$index + 1].name}}" ng-click="showDetail(works[$index + 1])">
            </div>
            <div class="item item-text-wrap padding">

              <h2 class="text-small lead text-left">{{works[$index].name + works[$index + 1].$id}}</h2>

              <span class="pull-left text-small">${{works[$index + 1].price | number: 2}}</span>
            <span class="pull-right text-medium">
              <i class="icon mr" ng-class="{'calm ion-ios-heart': favourite[$index + 1], 'ion-ios-heart-outline': !favourite[$index + 1]}" ng-click="favourite[$index + 1] = !favourite[$index + 1]"></i>
            </span>
            </div>
          </div>
        </div>
      </div>

      <ion-infinite-scroll ng-if="!noMoreItemsAvailable"
                           immediate-check="false"
                           on-infinite="loadMore()"
                           distance="1%">
      </ion-infinite-scroll>

    </ion-content>

  <a class="btn-floating btn-large waves-effect waves-light blue lighten-1" style="position:fixed; bottom:3%;right:5%;z-index:999" ng-click="openWorkGroupModal()"><i class="icons ion-android-apps"></i></a>

</ion-view>