<ion-view title="我的沙龙">
  <ion-nav-buttons side="right">
    <button class="button button-icon dark icon ion-ios-search" ng-click="searchPopover.show($event)"></button>
  </ion-nav-buttons>

  <div class="my-2sub-header handle-padding">
      <div class="row padding bb-grey text-center " style="margin-top: 55px">
        <div class="col font-thin text-large balanced bb" ng-click="goTo('receptionist.salonReservation')">预订</div>
        <div class="col font-thin" ng-click="goTo('receptionist.salonHairstylistManage')">发型师管理</div>
        <div class="col font-thin" ng-click="goTo('receptionist.salonFlowBoard')">轮牌</div>
      </div>

    <div class="item no-padding no-bg no-b bb-grey" style="min-height: 30px;" ng-style="{ 'margin-top' : (handleMargin == true) ? '10px' : '-10px' }">
      <div class="row no-padding">
        <div class="col text-grey" ng-click="decrementDate(dateFilter)"><i class="icon ion-ios-arrow-back"></i></div>
        <div class="col text-grey text-center text-small">{{viewDate| amCalendar:referenceTime:formats}}
        </div>
        <div class="col text-grey text-right" ng-click="incrementDate(dateFilter)"><i class="icon ion-ios-arrow-forward"></i></div>
      </div>
    </div>
  </div>

    <ion-content class="has-header has-subheader has-tabs-top">
      <div class="card no-margin no-br" ng-if="seletedReservations.length == 0">
        <div class="item item-text-wrap item-icon-left teal lighten-1">
          <i class="icon ion-ionic light"></i>
          <span class="light">{{outOfDate == true ? '过期日不能添加预订' : '点击红色'+'添加一个预订吧!'}}</span>
        </div>
      </div>
      <div class="card card-tag no-margin bb-grey no-br no-box" ng-if="reservations.length > 0" ng-repeat="reservation in seletedReservations | filter: searchFilter | orderBy: 'updateAtR':true track by $index">
        <div class="item item-text-wrap item-icon-left teal lighten-1" on-hold="showDetail(reservation.slave)"
             ng-if="reservation.type == 'booked'" ui-sref="receptionist.createEditReservation({reservation: reservation, editFlag: true})">
            <i class="icon light ion-ios-clock"></i>
            <span class="light text-medium">{{reservation.workName || reservation.priceName}}</span><br/>
            <span class="light text-smaller">发型师:{{reservation.hairstylistName}}</span>
            <span class="light text-smaller">价格:{{reservation.orderPrice}}</span><br/>
            <span class="light text-smaller justified">客户名字:{{reservation.customerName}}<br/></span>
            <span class="light text-smaller justified">具体要求:{{reservation.notes}}<br/></span>
            <span class="text-smaller light">预订时间: {{reservation.bookedStartAt | date: 'yyyy年MM月dd日HH点mm分'}}</span><br/>
            <span class="text-smaller light" ng-if="now < reservation.bookedStartAt"><span >倒计时:</span><span countdown='' date="{{reservation.bookedStartAt | date: 'yyyy-MM-dd HH:mm:ss.sss'}}">&nbsp;</span></span>
            <span class="text-smaller light" ng-if="now > reservation.bookedStartAt"><span >已过期:<span  am-time-ago="reservation.bookedStartAt"></span></span></span>
            <a class="text-small add-tag1" href="tel:{{reservation.customerMobile}}" ng-click="$event.stopPropagation()"><i class="icon light ion-ios-telephone-outline"></i></a>
            <a class="text-small add-tag2" ng-click="$event.stopPropagation()" attr-click click="openConversation" arg="reservation"><i class="icon light ion-ios-chatboxes-outline "></i></a>
            <a class="text-small add-tag3" ng-click="$event.stopPropagation()" attr-click click="cancelReservation" arg="reservation"><i class="icon light ion-ios-trash-outline"></i></a>
            <a class="text-small add-tag4" ng-click="$event.stopPropagation()" attr-click click="completeReservation" arg="reservation"><i class="icon light ion-ios-checkmark-outline "></i></a>
        </div>

        <div class="item item-text-wrap item-icon-left red lighten-1" on-hold="showDetail(reservation.slave)"
             ng-if="reservation.type == 'canceled'" ui-sref="receptionist.createEditReservation({reservation: reservation, editFlag: true})">
          <i class="icon light ion-ios-close-outline"></i>
          <span class="light text-medium">{{reservation.workName || reservation.priceName}}(已取消订单)</span><br/>
          <span class="light text-smaller">发型师:{{reservation.hairstylistName}}</span>
          <span class="light text-smaller">价格:{{reservation.orderPrice}}</span><br/>
          <span class="light text-smaller justified">客户名字:{{reservation.customerName}}<br/></span>
          <span class="light text-smaller justified">具体要求:{{reservation.notes}}<br/></span>
          <span class="text-smaller light">预订时间: {{reservation.bookedStartAt | date: 'yyyy年MM月dd日HH点mm分'}}</span><br/>
          <span class="text-smaller light"><span >取消原因:</span>{{reservation.cancelReason}}</span>
          <a class="text-small add-tag1" href="tel:{{reservation.customerMobile}}" ng-click="$event.stopPropagation()"><i class="icon light ion-ios-telephone-outline"></i></a>
          <a class="text-small add-tag2" ng-click="$event.stopPropagation()" attr-click click="openConversation" arg="reservation"><i class="icon light ion-ios-chatboxes-outline "></i></a>
        </div>

        <div class="item item-text-wrap item-icon-left blue lighten-1" on-hold="showDetail(reservation.slave)"
             ng-if="reservation.type == 'completed'" ui-sref="receptionist.createEditReservation({reservation: reservation, editFlag: true})">
          <i class="icon light ion-trophy"></i>
          <span class="light text-medium">{{reservation.workName || reservation.priceName}}(已完成订单)</span><br/>
          <span class="light text-smaller">发型师:{{reservation.hairstylistName}}</span>
          <span class="light text-smaller">价格:{{reservation.orderPrice}}</span><br/>
          <span class="light text-smaller justified">客户名字:{{reservation.customerName}}<br/></span>
          <span class="light text-smaller justified">具体要求:{{reservation.notes}}<br/></span>
          <span class="text-smaller light">预订时间: {{reservation.bookedStartAt | date: 'yyyy年MM月dd日HH点mm分'}}</span><br/>
          <span class="text-smaller light"><span >付款方式:</span>{{reservation.payment}}</span>
          <a class="text-small add-tag1" href="tel:{{reservation.customerMobile}}" ng-click="$event.stopPropagation()"><i class="icon light ion-ios-telephone-outline"></i></a>
          <a class="text-small add-tag2" ng-click="$event.stopPropagation()" attr-click click="openConversation" arg="reservation"><i class="icon light ion-ios-chatboxes-outline "></i></a>
        </div>

      </div>

  </ion-content>

  <a ng-if='!outOfDate' class="btn-floating btn-large waves-effect waves-light red" style="position:absolute;bottom:5%; right:42%;"  ui-sref="receptionist.createEditReservation({reservation: null})"><i class="icon ion-plus"></i></a>

</ion-view>